<div class="narranti-container">

    <div id="opzioni-impaginazione" class="narranti-box">
    
        <form>
            <fieldset class="allineamento">
                <legend>Allineamento del titolo</legend>
                <label for="titolo-left"><input type="radio" ng-model="settings.allineaTitolo" name="titolo" id="titolo-left" value="left" /> <i class="fa fa-align-left fa-lg"></i> Sinistra</label>
                <label for="titolo-middle"><input type="radio" ng-model="settings.allineaTitolo" name="titolo" id="titolo-middle" value="middle" /><i class="fa fa-align-center fa-lg"></i> Centro</label>
                <label for="titolo-right"><input type="radio" ng-model="settings.allineaTitolo" name="titolo" id="titolo-right" value="right" /><i class="fa fa-align-right fa-lg"></i> Destra</label>
            </fieldset>
            <fieldset class="allineamento">
                <legend>Allineamento del racconto</legend>
                <label for="testo-left"><input type="radio" ng-model="settings.allineaRacconto" name="testo" id="testo-left" value="left" /><i class="fa fa-align-left fa-lg"></i> Sinistra</label>
                <label for="testo-middle"><input type="radio" ng-model="settings.allineaRacconto" name="testo" id="testo-middle" value="middle" /><i class="fa fa-align-center fa-lg"></i> Centro</label>
                <label for="testo-right"><input type="radio" ng-model="settings.allineaRacconto" name="testo" id="testo-right" value="right" /><i class="fa fa-align-right fa-lg"></i> Destra</label>
            </fieldset>
            <fieldset class="allineamento">
                <legend>Allineamento della firma</legend>
                <label for="firma-left"><input type="radio" ng-model="settings.allineaFirma" name="firma" id="firma-left" value="left" /><i class="fa fa-align-left fa-lg"></i> Sinistra</label>
                <label for="firma-middle"><input type="radio" ng-model="settings.allineaFirma" name="firma" id="firma-middle" value="middle" /><i class="fa fa-align-center fa-lg"></i> Centro</label>
                <label for="firma-right"><input type="radio" ng-model="settings.allineaFirma" name="firma" id="firma-right" value="right" /><i class="fa fa-align-right fa-lg"></i> Destra</label>
            </fieldset>
            <fieldset class="allineamento">
                <legend>Interlinea</legend>
                <label for="interlinea-singola"><input type="radio" ng-model="settings.interlinea" name="leading" id="interlinea-singola" value="{{interlinea.singola}}" /><i class="fa fa-bars"></i> Singola</label>
                <label for="interlinea-doppia"><input type="radio" ng-model="settings.interlinea" name="leading" id="interlinea-doppia" value="{{interlinea.doppia}}" /><i class="fa fa-bars fa-lg"></i> Doppia</label>
                <label for="interlinea-tripla"><input type="radio" ng-model="settings.interlinea" name="leading" id="interlinea-tripla" value="{{interlinea.tripla}}" /><i class="fa fa-bars fa-2x"></i> Tripla</label>
            </fieldset>
            <fieldset class="allineamento">
                <legend>Margine</legend>
                <label for="margine-minimo"><input type="radio" ng-model="settings.margine" name="margin" id="margine-minimo" value="{{margine.minimo}}" /><i class="fa fa-arrows-h"></i> Minimo</label>
                <label for="margine-medio"><input type="radio" ng-model="settings.margine" name="margin" id="margine-medio" value="{{margine.medio}}" /><i class="fa fa-arrows-h fa-lg"></i> Medio</label>
                <label for="margine-ampio"><input type="radio" ng-model="settings.margine" name="margin" id="margine-ampio" value="{{margine.ampio}}" /><i class="fa fa-arrows-h fa-2x"></i> Ampio</label>
            </fieldset>
        </form>
    
    </div>
    
    <div id="opzioni-back" class="narranti-box">
        <div class="back-link">
            <span class="collegamento" ng-click="salva()">
                <i class="fa fa-edit fa-lg"></i> Torna alla scrittura
            </span>
        </div>
    </div>

</div>